*

################################################################
# MAIN FOLDER
################################################################

# !/justfile # NOTE: just not available for debian - need Makefile
!/Makefile
!/README.md
!/TECHNICAL.md
!/CONTRIBUTING.md
!/LICENSE
!/Procfile
!/package*.json

################################################################
# PROJECT FILES
################################################################

!/src
!/src/**/
!/src/**/*.js
!/src/**/*.yaml
!/index.js

!/tests
!/tests/**/
!/tests/**/*.test.js

!/assets
!/assets/*.yaml

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################

/**/.env

################################################################
# ARTEFACTS
################################################################

/**/.DS_Store
/**/__archive__*
/**/node_modules

################################################################
# Git Keep
################################################################

!/**/.gitkeep
