*
!/.gitignore

################################################################
# MAIN FOLDER
################################################################

!/Makefile
!/README.md
!/LICENSE

################################################################
# PROJECT FILES
################################################################

!/src
!/src/classes/
!/src/core/
!/src/parts/
!/src/setup/
!/src/setup/*.yaml
!/src/**/*.js
!/src/**/*.yaml
!/src/package*.json

!/tests

!/assets
!/assets/language.yaml

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################

/logs
/**/.env

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.DS_Store
/**/__archive__*
/**/.glitchdotcom.json
/**/.node-gyp
/**/node_modules

################################################################
# Git Keep
################################################################

!/**/.gitkeep
