*
!/.gitignore

################################################################
# DOCKER
################################################################

!/.dockerignore
!/Dockerfile
!/docker-compose.yaml

################################################################
# MAIN FOLDER
################################################################

!/justfile
!/Makefile
!/README.md
!/TECHNICAL.md
!/CONTRIBUTING.md
!/LICENSE
!/Procfile
!/package*.json
!/pyproject.toml
!/requirements*
!/runtime*

################################################################
# PROJECT FILES
################################################################

!/src
!/src/**/
!/src/**/*.py
!/main.py

# NOTE: models are created as part of the build process:
!/models
!/models/*.yaml
!/models/README.md

!/tests
!/tests/**/
!/tests/**/*.py
!/tests/README.md

!/assets
!/assets/language.yaml

!/setup
!/setup/config.yaml

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################

/logs
/**/.env

################################################################
# TEMPLATES
################################################################

!/templates
!/templates/.env

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.pytest_cache
/**/.DS_Store
/**/__archive__*

################################################################
# Git Keep
################################################################

!/**/.gitkeep
